# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Logs
logs
*.log
npm-debug.log*

# Native builds
*.hprof
android/
ios/

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# Testing
coverage/
